<div
  bsModal
  #childModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          {{ selectedItem.shopName }}
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideChildModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img
          src="{{ ip }}{{ selectedItem.shopFullImg }}"
          alt=""
          style="width: 100%; height: 500px"
          *ngIf="!isExternalUrl"
        />
        <img
          src="{{ selectedItem.shopFullImg }}"
          alt=""
          style="width: 100%; height: 500px"
          *ngIf="isExternalUrl"
        />
      </div>
    </div>
  </div>
</div>

<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title>
      {{ tableTitle | uppercase }} {{ title | uppercase }}
      <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loading }"></i>
      <p *ngIf="!loading && tableData == 0">No data available</p>
      <!-- <button type="button" class="btn btn-primary" >Open child modal</button> -->
    </mat-card-title>

    <!-- <section class="example-section">
            <table class="table animated slideInLeft" *ngIf="tableData.length>0 ">
                <thead>
                    <tr>

                        <th scope="col">Shop Code</th>
                        <th scope="col">Shop Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">VO Code</th>

                        <th scope="col">VO Name</th>

                        <th scope="col">Visit Date</th>

                        <th scope="col">Remarks</th>



                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableData">
                        <td scope="row">{{item.shop_code}}</td>
                        <td>
                            <a class="a-link" (click)="getPdf(item);" title="view shop details">{{item.shop_title}}</a>
                        </td>
                        <td class="fix-address">{{item.address}}</td>
                        <td class="fix-width">{{item.m_code}}</td>
                        <td class="fix-width">{{item.full_name}}</td>
                        <td class="fix-width">{{item.visit_date}}</td>
                        <td class="fix-width">{{item.description}}</td>


                    </tr>

                </tbody>


            </table>

        </section> -->
  </mat-card-content>
</mat-card>

<div class="container-fluid" *ngIf="tableData.length > 0">
  <div class="row"></div>
  <div class="row js">
    <ng-container *ngFor="let item of tableData; let i = index">
      <mat-card class="col-md-3 example-card card2 ml-3 mt-3">
        <!-- <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title></mat-card-title>

                </mat-card-header> -->
        <!-- {{tableData.itemList |json}} -->
        <!-- <img mat-card-image src="assets/images/LU-logo.png" height="300" alt=""  style="cursor:pointer"> -->

        <div class="ribbon">
          <img
            class="small"
            src="{{ ip }}{{ item.shopFullImg }}"
            alt=""
            (click)="setSelectedItem(item); showChildModal()"
            *ngIf="!isExternalUrl"
            style="width: 100%; height: 400px"
          />
          <img
            class="small"
            src="{{ item.shopFullImg }}"
            alt=""
            (click)="setSelectedItem(item); showChildModal()"
            *ngIf="isExternalUrl"
            style="width: 100%; height: 400px"
          />
          <span
            *ngIf="item.evaluationStatus == 1"
            class="ribbon-{{ item.score > 70 ? 'green' : 'red' }}"
          >
            <span>{{ item.score }}</span>
          </span>
        </div>

        <!-- <div class="img-container">
                    <img mat-card-image class="small" src="{{ip}}{{item.shopFullImg}}" width="250" height="300" alt="" (click)="setSelectedItem(item);showChildModal()">
                    <div class="top-right-{{item.score>70?'green':'red'}}">Score: {{item?.score}}</div>
                    
                </div> -->

        <mat-card-content>
          <!-- <table class="table" (click)="getPdf(item);" style="cursor:pointer"> -->
          <table class="table" style="cursor: pointer">
            <tr
              *ngFor="let item2 of tableData[i].itemList"
              (click)="goToEvaluation(item)"
            >
              <!-- test -->
              <th>{{ item2.heading }}</th>
              <td>{{ item2.value }}</td>
            </tr>
            <!-- <hr> -->
          </table>
        </mat-card-content>
        <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
      </mat-card>
    </ng-container>
  </div>
</div>
