<!-- <agm-map [latitude]="startLat" [longitude]="startLng" [zoom]="zoom">
  <agm-direction [origin]="startCoords" [destination]="endCoords"></agm-direction>
</agm-map> -->


<agm-map [latitude]="startLat" [longitude]="startLng" [zoom]="zoom">
  <agm-direction [origin]="startCoords" [destination]="endCoords" [waypoints]="waypoints">
    
  </agm-direction>
</agm-map>

<!-- <agm-map [latitude]="startLat" [longitude]="startLng" [zoom]="zoom">
  <agm-direction [origin]="startCoords" [destination]="endCoords" [waypoints]="waypoints"></agm-direction>
  <agm-marker *ngFor="let coord of coordinates; let i = index" [latitude]="coord.lat" [longitude]="coord.lng">
    <agm-snazzy-info-window [maxWidth]="'300px'">
      <ng-template>
        
        <div>
          Marker {{ i + 1 }}
        </div>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map> -->


<!-- <agm-map [latitude]="startLat" [longitude]="startLng" [zoom]="zoom">
  <agm-direction [origin]="startCoords" [destination]="endCoords" [waypoints]="waypoints"></agm-direction>
  <agm-marker *ngFor="let coord of coordinates; let i = index" [latitude]="coord.lat" [longitude]="coord.lng" [agmInfoWindow]="infoWindow">
  </agm-marker>
  <agm-info-window #infoWindow>
    <div>
      Marker 1
    </div>
  </agm-info-window>
</agm-map> -->

    <!-- <agm-map [latitude]="startLat" [longitude]="startLng" [zoom]="zoom">
      <agm-direction [origin]="startCoords" [destination]="endCoords" [waypoints]="waypoints"></agm-direction>
      <agm-marker *ngFor="let coord of coordinates; let i = index" [latitude]="coord.lat" [longitude]="coord.lng" (markerClick)="openInfoWindow(marker)">
      </agm-marker>
    </agm-map> -->