<!-- <div class="footer-content"> -->
    <!-- Other footer content -->
  
    <!-- OneTrust Cookies Consent Notice start for pmirm.rtdtradetracker.com/start -->
    <!-- <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="018f3dd3-70e8-7671-902e-98b0a4ce5d04"></script>
    <script type="text/javascript">
      function OptanonWrapper() { }
    </script> -->
    <!-- OneTrust Cookies Consent Notice end for pmirm.rtdtradetracker.com/start -->
  <!-- </div> -->
  <button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button>
