<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
        <form #f="ngForm" class="login-form" fxFlex (ngSubmit)="onLogin(f.value)">
            <div class="text-center">
                <h2 class="app-name" color="warn">
                    Update Password
                    <!-- <img src="assets/images/logoSmall.png" height="100" alt=""> -->
                </h2>
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" name="oldPassword" placeholder="Old password" [(ngModel)]="loginForm.oldPassword" #oldPassword="ngModel" required>
                        <mat-error *ngIf="oldPassword.invalid">Old password is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="New Password" name="password" [(ngModel)]="loginForm.password" #password="ngModel" required>
                        <mat-error *ngIf="password.invalid">New password is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="loginForm.confirmPassword" #confirmPassword="ngModel" required>
                        <mat-error *ngIf="confirmPassword.dirty &&  confirmPassword.touched && confirmPassword.value != password.value">confirm password is required and must match new password</mat-error>

                    </mat-form-field>
                    <small *ngIf="confirmPassword.value != password.value" style="color:red">(Confirm password mut must match old password)</small>

                </div>
            </div>

            <div fxFlex fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlexFill>
                    <button [disabled]="f.invalid || loading || confirmPassword.value!=password.value" mat-raised-button color="" class="w-100 primary-red" (click)="onLogin(f.value)">
                          <i color="warn" [ngClass]="{'fa fa-cog fa-spin':loading}"></i>
                      Update</button>
                </div>
            </div>

        </form>
    </div>
</div>