




        <div class="col-md-12 borderClass">
          <div class="bg-c-yellow">
            <div class="borderClass3 d-flex align-items-end justify-content-center">
              <!-- <div
                      ng-show="graph.visible"
                      style="height: 180px;"
                      
                    > -->
                    <canvas baseChart
                    [colors]="barChartColors"
                    [data]="barChartDataN"
                    [labels]="barChartLabels"
                    [chartType]="barChartType"
                    [options]="barChartOptions"
                   
                    >
            </canvas>
                    <!-- </div> -->
                    
            </div>
            
          </div>
          
        </div>





        