<mat-card>
  <mat-card-content>
    <div>
      <button [disabled]="updatedProductList.length==0 || loading"
      class="btn btn-primary product-attr"
      title="Click to Apply changes" (click)="updateChillerData()">
      Apply ({{updatedProductList.length}})
      <i [ngClass]="{ 'fa fa-spinner fa-spin': loading }"></i>
    </button>
    <mat-form-field *ngIf="tmpProductList?.length>0" class="product-attr">
      <mat-select
        placeholder="Search Products"
        name="products"
        [(ngModel)]="selectedProduct"
        (ngModelChange)="emitChange()"
      >
        <ngx-mat-select-search
          [placeholderLabel]="'Find Product...'"
          [noEntriesFoundLabel]="'No Matching Product Found'"
          [(ngModel)]="selectedKeyword"
          (ngModelChange)="filterItem(selectedKeyword)"
        ></ngx-mat-select-search>
        <mat-option [value]="-1">All</mat-option>
        <mat-option [value]="product" *ngFor="let product of filteredProducts">{{
          product.product_title
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Title</th>
          <th scope="col">Priority</th>
          <th scope="col">MSL</th>
          <th scope="col">Depth</th>
          <th scope="col">Desired Facing</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of chillerProductList; let i = index">
          <th scope="col">{{ i + 1 }}</th>
          <td>{{ product?.product_title }}</td>
          <td><input type="checkbox" class="myinput large" [checked]="product.must_have=='Y'"
            data-toggle="toggle" data-onstyle="light" (change)="changeProductMSLStatus(checked1,product)" #checked1>
        </td>
          <td><input type="checkbox" class="myinput large" [checked]="product.active=='Y'"
            data-toggle="toggle" data-onstyle="light" (change)="changeProductActiveStatus(checked,product)" #checked>
        </td>
        <td><input type="number" style="background-color: lightgrey;"  (change)="changeProductDepth(product)"  [(ngModel)]="product.depth" >
        </td>
      <td><input type="number" style="background-color: lightgrey;"  (change)="changeProductDesiredFacing(product)"   [(ngModel)]="product.desired_facing">
    </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  </mat-card>

  <div class="row" style="margin: 20px;" *ngIf="!loading && chillerProductList?.length == 0">
    <div class="col-md-12 text-center">
      <div class="alert alert-info">
        <p>No Data Found</p>
      </div>
    </div>
  </div>
