<img
  *ngIf="loadingData"
  src="assets/images/basicloader.gif"
  style="margin: 20% 40%"
/>
<div class="container-fluid mt-4 animated slideInUp" *ngIf="!loadingData">
  <div *ngIf="selelctedShop" class="row text-center detail animated slideInUp">
    <div class="col-6">
      <img
        src="{{ ip }}{{ selelctedShop.shopFullImg }}"
        alt=""
        class="img-thumbnail"
      />
    </div>

    <div class="col-6">
      <div style="position: absolute; right: 10px">
        <button
          mat-fab
          color="primary"
          title="Go to Survey Details"
          (click)="goToSurvey(selelctedShop)"
        >
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
      <table class="table table-noborder text-justify">
        <tr *ngFor="let item of selelctedShop.itemList" class="mb-3">
          <th class="mr-3">{{ item.heading }}:</th>
          <td>{{ item.value }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-4" *ngIf="allDataSelectedShop">
    <div
      class="col-md-3 col-sm-12 mb-4 animated slideInUp"
      *ngFor="let product of allDataSelectedShop"
    >
      <mat-card
        class="example-card"
        [ngClass]="product.compliant == 'Y' ? 'green' : 'red'"
      >
        <mat-card-header class="mb-1" (click)="getShop(product)">
          <div mat-card-avatar class="example-header-image">
            <!-- <img
              src="{{ ip }}{{ product.shopFullImg }}"
              width="50"
              class="rounded-circle"
            /> -->
            <img
              src="{{ product.shopFullImg }}"
              width="50"
              class="rounded-circle"
            />
          </div>
          <mat-card-title
            style="word-break: break-all; word-wrap: break-word !important"
            >{{ getCategoryName(product) | slice: 0:14 }} ({{
              product.imageType
            }})
          </mat-card-title>
          <mat-card-subtitle>
            {{ product.shopName | titlecase }}
          </mat-card-subtitle>
        </mat-card-header>
        <!-- <img
          class="small"
          (click)="getAlert(product)"
          title="click to view large image"
          *ngIf="!product.assetImageURL"
          mat-card-image
          src="{{ ip }}{{ product.assetImageURL }}"
          alt="Product photo"
        /> -->
        <img
        class="small"
        (click)="getAlert(product)"
        title="click to view large image"
        *ngIf="product.assetImageURL"
        mat-card-image
        src="{{ product.assetImageURL }}"
        alt="Product photo"
      />
        <img
          class="small"
          (click)="getAlert(product)"
          title="click to view large image"
          *ngIf="product.assetImageURL == null"
          mat-card-image
          id="inf"
          src="assets/images/inf.png"
          alt="No image found"
          #noImageFound
        />
        <mat-card-content (click)="goToSurvey(product)" style="cursor: pointer">
          <table>
            <tr>
              <th>Channel:</th>
              <td>{{ product.channelName }}</td>
            </tr>

            <tr *ngFor="let d of product.assetItemList; let i = index">
              <th *ngIf="i != 0">{{ d.heading }}:</th>
              <td *ngIf="i != 0">{{ d.value }}</td>
            </tr>

            <tr>
              <th>Address:</th>
              <td style="word-wrap: break-word; word-break: break-all">
                {{ product.address }}
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 text-center">
      <button
        class="btn btn-block btn-primary"
        style="cursor: pointer"
        (click)="getDetailProdutsForShop(selelctedShop.shopId)"
      >
        <i
          class="fa fa-circle-o-notch fa-spin fa-2x"
          style="color: lightskyblue"
          *ngIf="loadingData"
        ></i>
        View more
      </button>
    </div>
  </div>
</div>

<div
  bsModal
  #productDetailModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Child modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideProductDetailModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body text-center">
        <div>
          <h2>
            {{ getCategoryName(selectedProduct) }}
            <!-- ({{selectedProduct.imageType}}) -->
          </h2>
          <h4>
            {{ selectedProduct.shopName }}
            <i
              class="fa fa-circle-o-notch fa-spin"
              style="color: lightskyblue"
              *ngIf="imageLoading"
            ></i>
          </h4>

          <!-- <img src="{{ip}}{{selectedProduct.shopImgURL}}" alt="" style="
          width: 100%;
          height: 500px;
      "> -->

          <!-- <img
            src="{{ ip }}{{ selectedProduct.assetFullImg }}"
            alt=""
            style="width: 100%; height: 500px"
          /> -->
          <img
            src="{{ selectedProduct.assetFullImg }}"
            alt=""
            style="width: 100%; height: 500px"
          />

          <!-- <table class="table" *ngIf="selectedProduct.itemList">
            <thead>
              <tr>
            
                <th>{{selectedProduct.itemList[1].heading}}</th>
                <th>{{selectedProduct.itemList[2].heading}}</th>
                <th>{{selectedProduct.itemList[3].heading}}</th>
                <th>{{selectedProduct.itemList[4].heading}}</th>
                <th>{{selectedProduct.itemList[5].heading}}</th>

              </tr>


            </thead>

            <tbody>
              <tr>
             
                <td>{{selectedProduct.itemList[1].value}}</td>
                <td>{{selectedProduct.itemList[2].value}}</td>
                <td>{{selectedProduct.itemList[3].value}}</td>
                <td>{{selectedProduct.itemList[4].value}}</td>
                <td>{{selectedProduct.itemList[5].value}}</td>

              </tr>
            </tbody>
          </table> -->
        </div>

        <!-- I am a child modal, opened from parent component! -->
      </div>
    </div>
  </div>
</div>
