.side-image {
  width: 100% !important;
  height: 245px !important;
}

.img-item {
  width: 800% !important;
  height: 600px !important;
}


.bgColor {
  background: lightgray !important;
}

.table {
  width: 101% !important;
}

.bgColorRed {
  background: red;
}
.bgColorGreen {
  background: green;
}
