.img-item {
  height: 500px !important;
  width: 90% !important;
}

.title {
  background: lightgreen;
  color: black;
  margin-bottom: 0;
  width: 100%;
}

.heading {
  background: lightgray !important;
}

