<div class="card">
  <img src="https://raw.githubusercontent.com/talha08/talha08.github.io/master/images/photo.jpg" alt="John" style="width:100%">
  <br>
  <i class="fa fa-camera fa-2x" style="cursor:pointer" title="change Image"></i>
  <br>
  <h3><b>MD. ABU TALHA</b></h3>
  <p class="title">Full Stack Web Developer</p>
  <p>InfancyIT</p>
  <div style="margin: 24px 0;">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Old Password" >
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput  type="password" placeholder="New Password" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput  type="password" placeholder="Confirm Password" >
      </mat-form-field>
      <button mat-raised-button color="primary">Update</button>
    </form>
    <!-- <a href="https://www.linkedin.com/in/md-abu-talha/" target="_blank"><i class="fa fa-linkedin"></i></a> -->
    <!-- <a href="https://www.facebook.com/talha.sust.cse" target="_blank"><i class="fa fa-facebook"></i></a> -->
    <!-- <a href="https://github.com/talha08" target="_blank"><i class="fa fa-github"></i></a> -->
    <!-- <a href="https://medium.com/@talhaqc" target="_blank"><i class="fa fa-medium"></i></a> -->
  </div>
  <!-- <p><a href="talha08.github.io" class="button">Profile</a></p> -->


</div>