<div class="animated slideInLeft">
  <mat-card class="mb-20" style="padding-top: 1px; padding-bottom: 1px">
    <mat-card-content>
      <mat-card-title>
        {{ title | uppercase }}
        <i [ngClass]="{ 'fa fa-cog fa-spin': loadingData || cardLoading }"></i>
        <i
          style="cursor: pointer"
          *ngIf="!loadingData && !cardLoading"
          class="material-icons refresh-btn"
          matTooltip="Refresh Stats"
          (click)="getMerchandiserList()"
        >
          cached
        </i>
        <small
          style="color: lightseagreen !important"
          class="mtb-5-IMP"
          *ngIf="loadingReportMessage"
          >Your file is being prepared for download</small
        >
      </mat-card-title>

      <section class="example-section">
        <mat-form-field class="example-full-width mr-10-IMP">
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker0"
            [(ngModel)]="startDate"
            placeholder="Choose a start date"
            (ngModelChange)="getMerchandiserList()"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker0"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker0></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width mr-10-IMP">
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker1"
            [(ngModel)]="endDate"
            placeholder="Choose a end date"
            (ngModelChange)="getMerchandiserList()"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <ng-container *ngIf="userTypeId == ReEvaluatorId">
          <mat-form-field class="example-margin mr-10-IMP">
            <mat-select
              placeholder="Evaluators"
              name="evaluators"
              [(ngModel)]="selectedEvaluator"
              (ngModelChange)="getMerchandiserList()"
            >
              <mat-option [value]="-1"> All </mat-option>
              <mat-option
                [value]="evaluator"
                *ngFor="let evaluator of evaluatorList"
                >{{ evaluator.title }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </ng-container>
      </section>
    </mat-card-content>
  </mat-card>
</div>

<mat-card class="animated slideInLeft" *ngIf="evaluationSummary && projectType !='Tapal'">
  <mat-card-content>
    <div
      class="row justify-content-center"
      style="clear: both; margin: auto; width: 100%; overflow-x: scroll"
    >
      <div class="col-md-2">
        <app-stat
          [bgClass]="'info'"
          [icon]="'list_alt'"
          [count]="evaluationSummary?.totalMerchandisers"
          [label]="'Total '+ labels?.surveyorLabel"
        >
        </app-stat>
      </div>
      <div class="col-md-2">
        <app-stat
          [bgClass]="'primary'"
          [icon]="'assignment'"
          [count]="evaluationSummary?.totalCaptured"
          [label]="'Attempted'"
        >
        </app-stat>
      </div>
      <div class="col-md-2">
        <app-stat
          [bgClass]="'success'"
          [icon]="'thumb_up'"
          [count]="evaluationSummary?.totalEvaluated"
          [label]="'Evaluated'"
        ></app-stat>
      </div>
      <div class="col-md-2">
        <app-stat
          [bgClass]="'success'"
          [icon]="'done'"
          [count]="evaluationSummary?.totalApproved"
          [label]="'Approved'"
        ></app-stat>
      </div>

      <div class="col-md-2">
        <app-stat
          [bgClass]="'success'"
          [icon]="'error_outline'"
          [count]="evaluationSummary?.totalDisApproved"
          [label]="'Disapproved'"
        ></app-stat>
      </div>
      <div class="col-md-2">
        <app-stat
          [bgClass]="'danger'"
          [icon]="'pending'"
          [count]="evaluationSummary?.totalPending"
          [label]="'Pending For Evaluation'"
        ></app-stat>
      </div>
      <!-- <div
        class="row justify-content-center"
        style="clear: both; margin-top: 20px; width: 100%"
        *ngIf="projectType == 'Tapal'"
      >
        <div class="col-md-2" *ngIf="userTypeId == zsmRole">
          <app-stat
            [bgClass]="'success'"
            [icon]="'thumb_up'"
            [count]="evaluationSummary?.evaluated"
            [label]="'QC Evaluated'"
          ></app-stat>
        </div>
        <div class="col-md-2" *ngIf="userTypeId != zsmRole">
          <app-stat
            [bgClass]="'success'"
            [icon]="'thumb_up'"
            [count]="evaluationSummary?.evaluated"
            [label]="'Zsm evaluated'"
          ></app-stat>
        </div>
        <div class="col-md-2">
          <app-stat
            [bgClass]="'success'"
            [icon]="'thumb_up'"
            [count]="evaluationSummary?.completed"
            [label]="'Completed'"
          ></app-stat>
        </div>
        <div class="col-md-2">
          <app-stat
            [bgClass]="'success'"
            [icon]="'pan_tool'"
            [count]="evaluationSummary?.physicalVerified"
            [label]="'Physical Verification'"
          ></app-stat>
        </div>
        <div class="col-md-2">
          <app-stat
            [bgClass]="'success'"
            [icon]="'pan_tool'"
            [count]="evaluationSummary?.portalVerified"
            [label]="'Portal Verification'"
          ></app-stat>
        </div>
      </div> -->
    </div>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="merchandiserList.length > 0">
  <div class="animated slideInLeft">
    <mat-card class="mb-20" style="border-top: 1px solid #afafaf">
      <mat-card-content>
        <div>
          <search-box
            [list]="merchandiserList"
            (notify)="onNotifyClicked($event)"
          >
          </search-box>
        </div>

        <section class="example-section">
          <table class="table table-hover">
            <thead>
              <tr>
                <th (click)="sortIt('m_code')" style="cursor: pointer">
                  {{ labels?.surveyorLabel }} Code
                  <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("m_code") }}
                  </i>
                </th>
                <th (click)="sortIt('full_name')" style="cursor: pointer">
                  {{ labels?.surveyorLabel }} Name
                  <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("full_name") }}
                  </i>
                </th>
                <th (click)="sortIt('supervisor_code')" style="cursor: pointer">
                  {{ labels?.supervisorLabel }} code
                  <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("supervisor_code") }}
                  </i>
                </th>
                <th (click)="sortIt('supervisor_name')" style="cursor: pointer">
                  {{ labels?.supervisorLabel }} Name
                  <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("supervisor_name") }}
                  </i>
                </th>
                <th (click)="sortIt('captured_shops')" style="cursor: pointer">
                  Attempted Shops
                  <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("captured_shops") }}
                  </i>
                </th>
                <th (click)="sortIt('evaluated_shops')" style="cursor: pointer">
                  Evaluated Shops
                  <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("evaluated_shops") }}
                  </i>
                </th>
                <th (click)="sortIt('approved_shops')" style="cursor: pointer">
                  Approved Shops
                  <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("approved_shops") }}
                  </i>
                </th>
                <th
                  (click)="sortIt('disapproved_shops')"
                  style="cursor: pointer"
                >
                Disapproved Shops
                  <i class="material-icons arrow material-icons-arrow">
                    {{ getArrowType("disapproved_shops") }}
                  </i>
                </th>
                <!-- <th></th> -->
              </tr>
            </thead>

            <tbody *ngIf="filteredList.length > 0">
              <!-- | paginate: { itemsPerPage: 15, currentPage: p } -->
              <tr
                *ngFor="
                  let item of filteredList
                    | orderBy: sortBy:sortOrder
                    | paginate: { itemsPerPage: 10, currentPage: currentpg }
                "
              >
                <td>{{ item?.m_code }}</td>
                <td>{{ item?.full_name }}</td>
                <td>{{ item?.supervisor_code }}</td>
                <td>{{ item?.supervisor_name }}</td>
                <!-- <td style="color:blue;cursor:pointer" [routerLink]="['/dashboard/evaluation/list']" [queryParams]="{ surveyorId: item.id,startDate: modifyDate(startDate),endDate: modifyDate(startDate)}">
                                      {{item?.captured_shops}}</td> -->
                <td
                  style="color: blue; cursor: pointer"
                  (click)="gotoNewPage(item)"
                >
                  {{ item?.captured_shops }}
                </td>
                <td>{{ item?.evaluated_shops }}</td>
                <td>{{ item?.approved_shops }}</td>
                <td>
                  {{ item?.disapproved_shops }}
                </td>
                <!-- <td *ngIf="item?.captured_shops==item?.evaluated_shops">
                                      <img src="./assets/images/Checked-Checkbox-icon.png" alt="">
                                  </td>
                                  <td *ngIf="item?.captured_shops!=item?.evaluated_shops">
                                      <img src="./assets/images/Unchecked-Checkbox-icon.png" alt="">
                                  </td> -->
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <pagination-controls
              class="my-pagination"
              (pageChange)="currentpg = $event"
              *ngIf="filteredList.length > 0"
            ></pagination-controls>
          </div>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
<div class="row" *ngIf="loading">
  <div class="col-md-12 text-center">
    <div class="img-center">
      <img src="assets/images/basicloader.gif" alt="" srcset="" />
    </div>
  </div>
</div>

<div class="row" *ngIf="!loading && filteredList.length == 0">
  <div class="col-md-12 text-center">
    <div class="alert alert-info">
      <p>No Data Found</p>
    </div>
  </div>
</div>
