<div class="container-fluid">
  <div class="row">

    <div class="col-12">
      <!-- (opened)="panelOpenState = true" (closed)="panelOpenState = false" -->
      <mat-accordion>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="mt-1">
            <mat-panel-title>
              <!-- Serach Filters  -->
              <mat-form-field>
                <input matInput placeholder="advance search here..." [(ngModel)]="searchFilter">
              </mat-form-field>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">

            <div class="col">


              <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker></ngx-mat-drp>

            </div>



            <div class="col">
              <mat-form-field>
                <mat-select placeholder="Zones" [(ngModel)]="selectedZone" (ngModelChange)="zoneChange()">
                  <mat-option *ngFor="let z of zones" [value]="z">
                    {{z.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field *ngIf="regions.length>0">
                <mat-select placeholder="Regions" [(ngModel)]="selectedRegion" (ngModelChange)="regionChange()">
                  <mat-option *ngFor="let z of regions" [value]="z">
                    {{z.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field *ngIf="cities.length>0">
                <mat-select placeholder="Cities" [(ngModel)]="selectedCity" (ngModelChange)="cityChange()">
                  <mat-option *ngFor="let z of cities" [value]="z">
                    {{z.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field *ngIf="chanels.length>0">
                <mat-select placeholder="Chanels" [(ngModel)]="selectedChanel" (ngModelChange)="chanelChange()">
                  <mat-option *ngFor="let z of chanels" [value]="z">
                    {{z.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field *ngIf="categories.length>0">
                <mat-select placeholder="Categories" [(ngModel)]="selectedCategory" (ngModelChange)="categoryChange()"
                  multiple>
                  <mat-option *ngFor="let c of categories" [value]="c">{{c.title}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>


    <!-- <div class="col-12 ">
            <div *ngIf="successTrigger" class="alert alert-success">
                <i class="fa fa-check fa-fw"></i>
                <strong>{{myMessage}}</strong>
              </div>
             
        </div>
    
        <div class="col-12 ">
            <div *ngIf="errorTrigger" class="alert alert-danger">
                <i class="fa fa-warning fa-fw"></i>
                <strong>{{myMessage}}</strong>
              </div>
            
        </div> -->


    <div class="col text-center mt-1" *ngIf="!singleShopSelected">
      <!-- *ngIf="allData.length==0" -->
    </div>
  </div>

  <div class="row mt-3" *ngIf="allData.length>0 && !singleShopSelected">

    <div class="col-11 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
    <div class="col">
      <button class="refresh-btn" title="clear all filters" (click)="clearAllFilters()">
        <i class="fa fa-refresh fa-2x " [ngClass]="{'fa-spin':loadingData && allData.length>0}"></i>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="!singleShopSelected">

    <div class="col-12">
      <div class="masonry">
        <div class="item" *ngFor="let product of allData |filterBy:searchFilter | paginate: { itemsPerPage: 60, currentPage: p }">

          <p hidden>{{product.surveyId}}</p>
          <p hidden>{{product.shopId}}</p>
          <p hidden>{{product.city}}</p>
          <p hidden>{{product.region}}</p>
          <p hidden>{{product.assetName}}</p>
          <p hidden>{{product.asm}}</p>
          <p hidden>{{product.srName}}</p>
          <div class="row">
            <div class="col-3">
                <!--  -->
              <img style="cursor: pointer;" (click)="getAlert(product)"  src="{{ip}}{{product.shopImgURL}}" width="80"
                class="img-thumbnail rounded-circle borderShadow">

            </div>
            <div class="col link" (click)="getShop(product)">
              <div style="white-space: nowrap;word-wrap: break-word;" title="{{getCategoryName(product)}} ({{product.imageType}})">

                <h3> {{getCategoryName(product)
                  | slice:0:14 }} </h3>

              </div>
              <span>
                ({{product.imageType}}) {{product.shopName | titlecase}}
              </span>

            </div>
          </div>
          <div class="image-div" (click)="getShop(product)">
            <img src="{{ip}}{{product.assetImageURL}}"  [ngStyle]="getRandumHeightWidth()">

          </div>

          <!-- <p> {{product.shopName | titlecase}}</p> -->
          <table>
            <tr>
              <th>Channel:</th>
              <td>{{product.channelName}}</td>
            </tr>

            <tr *ngFor="let d of product.assetItemList;let i=index">
              <th>{{d.heading}}:</th>
              <td>{{d.value}}</td>
            </tr>

          </table>
          <!--  -->
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-3" *ngIf="!loadingData && allData.length == 0">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="alert alert-danger">
          <i class="fa fa-warning fa-fw"></i>
          <strong>No Item Found</strong>
        </div>
      </div>
  
    </div>
  <div class="row mt-3" *ngIf="allData.length>0 && !singleShopSelected">

    <div class="col text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

  <div class="row" *ngIf="singleShopSelected">
    <div class="col text-center mt-1">
      <!-- *ngIf="allData.length==0" -->
      <!-- <i class="fa fa-circle-o-notch fa-spin fa-2x" style="color:lightskyblue" *ngIf="loadingData"></i> -->
    </div>
  </div>

  <div class="row text-center detail" *ngIf="singleShopSelected">


    <!-- <button type="button" class="btn btn-primary mb-3" (click)="getall()">
        <i class="fa fa-arrow-left"></i>
      </button> -->
    <div class="col-6">

      <img src="{{ip}}{{selelctedShop.shopImgURL}}" alt="" class="img-thumbnail">

    </div>

    <div class="col-6">
      <!-- {{selelctedShop.shopId}} -->
      <table class="table text-justify">
        <tr>
          <button type="button" class="btn btn-primary mb-3" (click)="getall()">
            <i class="fa fa-arrow-left"></i>
          </button>
        </tr>
        <tr *ngFor="let item of selelctedShop.itemList">
          <th>{{item.heading}}</th>
          <td>{{item.value}}</td>
        </tr>
        <tr>
          <!-- <td style="cursor:pointer" (click)="detDetailProdutsForShop(selelctedShop)">
            <a class="btn btn-link">More Details</a>

          </td> -->
          <!-- <td>
            <i class="fa fa-circle-o-notch fa-spin fa-2x" style="color:lightskyblue" *ngIf="loadingData"></i>

          </td> -->
        </tr>
      </table>

    </div>



  </div>


  <div class="row mt-3" *ngIf="allDataSelectedShop.length>0 && singleShopSelected">

    <div class="col-11 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>


  <div class="row mt-4 " *ngIf="singleShopSelected">
    <div class="col-3 mb-4" *ngFor="let product of allDataSelectedShop |filter:searchFilter  | paginate: { itemsPerPage: 60, currentPage: p }">
      <mat-card class="example-card">
        <mat-card-header class="mb-1" (click)="getShop(product)">
          <!--  -->
          <div mat-card-avatar class="example-header-image">
            <img src="{{ip}}{{product.shopImgURL}}" width="50" class="rounded-circle">
          </div>
          <mat-card-title style="cursor: pointer;" title="{{getCategoryName(product)}}">{{getCategoryName(product)
            | slice:0:14 }} ({{product.imageType}})</mat-card-title>
          <mat-card-subtitle>
            {{product.shopName | titlecase}}
          </mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="product.assetImageURL;" mat-card-image src="{{ip}}{{product.assetImageURL}}" alt="Product photo">
        <img *ngIf="product.assetImageURL==null;" mat-card-image id="inf" src="assets/images/inf.png" alt="No image found"
          #noImageFound>
        <mat-card-content>
          <table>
            <tr>
              <th>Channel:</th>
              <td>{{product.channelName}}</td>
            </tr>

            <tr *ngFor="let d of product.assetItemList;let i=index">
              <th *ngIf="i!=0">{{d.heading}}:</th>
              <td *ngIf="i!=0">{{d.value}}</td>
            </tr>

          </table>
        </mat-card-content>
        <!-- <mat-card-actions>
                <button mat-button>Details</button>
                <button mat-button>SHARE</button>
              </mat-card-actions> -->
      </mat-card>
    </div>
  </div>

  <div class="row mt-3" *ngIf="allDataSelectedShop.length>0 && singleShopSelected">

    <div class="col-12 text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div class="col-12 text-center">
      <label style="cursor:pointer" (click)="detDetailProdutsForShop(selelctedShop)">
        <a class="btn btn-link">More Details Items</a>
      </label>
      <i class="fa fa-circle-o-notch fa-spin fa-2x" style="color:lightskyblue" *ngIf="loadingData"></i>

    </div>
  </div>

</div>



<div bsModal #productDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Child modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideproductDetailModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body text-center">
        <div>
          <h3>
            {{selectedProduct.shopName}}
          </h3>
          <img src="{{ip}}{{selectedProduct.shopImgURL}}" alt="" style="
          width: 100%;
          height: 500px;
      ">
          <table class="table" *ngIf="selectedProduct.itemList">
            <thead>
              <tr>
                <!-- <th>{{selectedProduct.itemList[0].heading}}</th> -->
                <th>{{selectedProduct.itemList[1].heading}}</th>
                <th>{{selectedProduct.itemList[2].heading}}</th>
                <th>{{selectedProduct.itemList[3].heading}}</th>
                <th>{{selectedProduct.itemList[4].heading}}</th>
                <th>{{selectedProduct.itemList[5].heading}}</th>

              </tr>


            </thead>

            <tbody>
              <tr>
                <!-- <td>{{selectedProduct.itemList[0].value}}</td> -->
                <td>{{selectedProduct.itemList[1].value}}</td>
                <td>{{selectedProduct.itemList[2].value}}</td>
                <td>{{selectedProduct.itemList[3].value}}</td>
                <td>{{selectedProduct.itemList[4].value}}</td>
                <td>{{selectedProduct.itemList[5].value}}</td>

              </tr>
            </tbody>
          </table>

        </div>


        <!-- I am a child modal, opened from parent component! -->
      </div>
    </div>
  </div>
</div>