<!-- <div class="animated slideInLeft">
    <button class="btn" (click)="showRemarksModal()">open modal</button>
    <filter-bar [title]="title"></filter-bar>

</div> -->
<!-- merchandiser_attendance -->
<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title>
      {{ title | uppercase }}
      <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
      <!-- <small style="color:lightseagreen !important" class="mtb-5-IMP" *ngIf="loadingReportMessage">Your file is being prepared for download</small> -->
    </mat-card-title>

    <section class="example-section">
      <ng-container *ngIf="clusterList?.length > 0">
        <mat-form-field class="example-margin mr-10-IMP">
          <mat-select
            placeholder="{{ labels.clusterLabel }}"
            name="cluster"
            [(ngModel)]="selectedCluster"
            (ngModelChange)="getZoneByCluster()"
          >
            <mat-option [value]="cluster" *ngFor="let cluster of clusterList">{{
              cluster.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <mat-form-field class="example-margin mr-10-IMP">
        <mat-select
          placeholder="{{ labels.zoneLabel }}"
          name="zone"
          [(ngModel)]="selectedZone"
          (ngModelChange)="zoneChange()"
        >
          <mat-option [value]="zone" *ngFor="let zone of zones">{{
            zone.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngIf="regions.length > 0 && selectedZone.id !== -1"
        class="example-margin mr-10-IMP"
      >
        <mat-select
          placeholder="{{ labels.regionLabel }}"
          name="region"
          [(ngModel)]="selectedRegion"
          (ngModelChange)="regionChange()"
        >
          <mat-option [value]="region" *ngFor="let region of regions">{{
            region.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="cities.length > 0"
        class="example-margin mr-10-IMP"
      >
        <mat-select
          placeholder="City"
          name="city"
          [(ngModel)]="selectedCity"
          (ngModelChange)="getTabsData()"
        >
          <mat-option [value]="city" *ngFor="let city of cities">{{
            city.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width mr-10-IMP">
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker0"
          [(ngModel)]="startDate"
          (ngModelChange)="getTabsData($event, 'start')"
          placeholder="Choose a start date"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker0"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker0></mat-datepicker>
      </mat-form-field>
    </section>

    <div class="example-section" style="text-align: end">
      <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
        <i class="material-icons"> cloud_download </i><br />
      </button>
      <mat-menu #profile="matMenu">
        <ng-container *ngFor="let file of downloadList">
          <button mat-menu-item (click)="downloadFile(file, tableData)">
            <!-- <mat-icon>lock</mat-icon> -->
            <i class="{{ file?.icon }} " aria-hidden="true "></i> &nbsp;
            <span>{{ file?.title }}</span>
          </button>
        </ng-container>

        <!-- <button mat-menu-item [routerLink]="['/dashboard/update_password']" routerLinkActive="router-link-active">
                      <mat-icon>lock</mat-icon>
                  <span>Update Password</span>
              </button> -->
      </mat-menu>
    </div>
  </mat-card-content>
</mat-card>

<div
  *ngIf="!loading"
  class="mb-20 animated slideInLeft"
  fxLayout="row "
  fxLayout.lt-md="column "
  fxFlex
  fxLayoutGap="10px "
>
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header style="justify-content: flex-end"> </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-2">
              <div>
                <app-stat
                  [bgClass]="'info'"
                  [icon]="'assignment'"
                  [count]="tabsData?.planned"
                  [label]="'Planned'"
                >
                </app-stat>
              </div>
            </div>
            <div class="col-md-2">
              <div>
                <app-stat
                  [bgClass]="'warn'"
                  [icon]="'check_circle'"
                  [count]="tabsData?.completed"
                  [label]="'Productive'"
                >
                </app-stat>
              </div>
            </div>
            <div class="col-md-2">
              <div>
                <app-stat
                  [bgClass]="'success'"
                  [icon]="'thumb_up'"
                  [count]="tabsData?.successful"
                  [label]="'Successful'"
                ></app-stat>
              </div>
            </div>
            <div class="col-md-2">
              <div>
                <app-stat
                  [bgClass]="'danger'"
                  [icon]="'thumb_down'"
                  [count]="tabsData?.unsuccessful"
                  [label]="'Un-Successful'"
                ></app-stat>
              </div>
            </div>

            <div class="col-md-2">
              <div>
                <app-stat
                  [bgClass]="'danger'"
                  [icon]="'contact_support'"
                  [count]="tabsData?.unvisited"
                  [label]="'Unvisited'"
                >
                </app-stat>
              </div>
            </div>

            <div class="col-md-2">
              <div>
                <app-stat
                  [bgClass]="'purple'"
                  [icon]="'check_circle'"
                  [count]="tabsData?.completedPercent"
                  [label]="'Productivity %'"
                ></app-stat>
              </div>
            </div>

            <div class="col-md-2">
              <div>
                <app-stat
                  [bgClass]="'primary'"
                  [icon]="'thumb_up'"
                  [count]="tabsData?.successfulPercent"
                  [label]="'Successful %'"
                ></app-stat>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div
  class="example-section mb-20"
  style="text-align: end"
  *ngIf="tableData.length > 0"
>
  <td *ngIf="userTypeId != 35">
    <button
      class="btn btn-danger mr-10-IMP"
      title="Click to delete all "
      [disabled]="selectedSurveyors.length == 0 || loadingData"
      (click)="showRemarksModal(0)"
    >
      Delete ({{ selectedSurveyors?.length }})
    </button>
  </td>
</div>

<mat-card *ngIf="tableData.length > 0">
  <mat-card-content>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table animated slideInLeft">
            <thead>
              <tr>
                <th>
                  <mat-checkbox
                    color="primary"
                    (change)="checkUncheckAll($event)"
                    #isAllCheckedcheckUncheckSingle
                  >
                  </mat-checkbox>
                </th>
                <th scope="col" (click)="sortIt('merchandiser_code')">
                  {{ labels?.surveyorLabel }} Code
                  <br />
                  <i class="material-icons arrow">
                    {{ getArrowType("merchandiser_code") }}
                  </i>
                </th>
                <th scope="col" (click)="sortIt('merchandiser_name')">
                  {{ labels?.surveyorLabel }} Name
                  <br />
                  <i class="material-icons arrow">
                    {{ getArrowType("merchandiser_name") }}
                  </i>
                </th>
                <th scope="col" (click)="sortIt('planned')">
                  Planned
                  <br />
                  <i class="material-icons arrow">
                    {{ getArrowType("planned") }}
                  </i>
                </th>
                <th scope="col" (click)="sortIt('completed')">
                  Productive
                  <br />
                  <i class="material-icons arrow">
                    {{ getArrowType("completed") }}
                  </i>
                </th>
                <th scope="col" (click)="sortIt('successfull')">
                  Successful
                  <br />
                  <i class="material-icons arrow">
                    {{ getArrowType("successfull") }}
                  </i>
                </th>
                <th scope="col" (click)="sortIt('unsuccessful')">
                  Un-Successful
                  <br />
                  <i class="material-icons arrow">
                    {{ getArrowType("unsuccessful") }}
                  </i>
                </th>
                <th
                  scope="col"
                  (click)="sortIt('unvisited')"
                  style="background: #f12e2b; color: white"
                >
                  Unvisited
                  <br />
                  <i
                    class="material-icons arrow"
                    style="color: white !important"
                  >
                    {{ getArrowType("unvisited") }}
                  </i>
                </th>
                <th scope="col" (click)="sortIt('completed_percent')">
                  Productivity <strong>%</strong>
                  <br />
                  <i class="material-icons arrow">
                    {{ getArrowType("completed_percent") }}
                  </i>
                </th>
                <th scope="col" (click)="sortIt('successful_percent')">
                  Successful <strong>%</strong>
                  <br />
                  <i class="material-icons arrow">
                    {{ getArrowType("successful_percent") }}
                  </i>
                </th>
                <td *ngIf="userTypeId != 35">Action</td>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let item of tableData | orderBy: sortBy:sortOrder"
              >
                <tr>
                  <td>
                    <mat-checkbox
                      color="primary"
                      name="{{ item?.merchandiser_name }}"
                      id="{{ item?.id }}"
                      *ngIf="item.completed_percent == 0"
                      (change)="checkUncheckSingle(checked, item)"
                      #checked
                    >
                    </mat-checkbox>
                  </td>
                  <td scope="row">{{ item.merchandiser_code }}</td>
                  <td>
                    {{ item.merchandiser_name }}
                  </td>

                  <td>{{ item.planned }}</td>

                  <td>
                    {{ item.completed }}
                  </td>

                  <td>
                    {{ item.successfull }}
                  </td>

                  <td>
                    {{ item.unsuccessful }}
                  </td>

                  <td>{{ item.unvisited }}</td>
                  <td>{{ getPercentage(item.completed_percent) }}</td>
                  <td>{{ getPercentage(item.successful_percent) }}</td>
                  <td *ngIf="userTypeId != 35">
                    <button
                      class="btn btn-danger"
                      *ngIf="item.completed_percent == 0"
                      (click)="showRemarksModal(item?.id)"
                      title="Press to remove item"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- remarks modal -->
<div
  bsModal
  #remarksModal="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false }"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Remarks</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="selectedRemark = {}; hideRemarksModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 10px">
        <label id="example-radio-group-label">Pick your remarks </label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="selectedRemark"
        >
          <ng-container *ngFor="let remark of remarksList">
            <section class="example-section">
              <!-- *ngIf="remark.criteriaId==selectedCriteria.id" (click)="checkboxChange(checkStatus,remark.id)" -->
              <!-- <mat-checkbox #checkStatus class="example-margin" name="remark">
                              {{remark.title}}
                          </mat-checkbox> -->

              <mat-radio-button class="example-radio-button" [value]="remark">
                {{ remark.title }}
              </mat-radio-button>
            </section>
          </ng-container>
        </mat-radio-group>

        <div class="row">
          <!-- {{selectedRemark |json}} -->
          <div class="col-md" style="text-align: end; padding: 0 20px 5px 0">
            <button
              class="btn btn-default mr-2 btn-sm"
              (click)="selectedRemark = {}; hideRemarksModal()"
            >
              Cancel
            </button>
            <button
              [disabled]="!selectedRemark"
              class="btn btn-primary btn-sm"
              (click)="hideRemarksModal()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="loading">
  <div class="col-md-12 text-center">
    <div class="img-center">
      <img src="assets/images/basicloader.gif " alt=" " srcset="" />
    </div>
  </div>
</div>
