.img-item {
    height: 500px !important;
    width: 90% !important;
  }
  
  table {
    font-size: 15px !important;
    table-layout: fixed;
  }
  
  .title {
    background: lightgreen;
    color: black;
    margin-bottom: 0;
    width: 100%;
  }
  
  
  .heading {
    background: lightgray !important;
  }
  
  
  