.img-item {
  height: 500px !important;
  width: 90% !important;
}

.title {
  background: lightgreen;
  color: black;
  margin-bottom: 0;
  width: 90%;
}

table > thead {
  background: lightgray !important;
}

.sm-table td,
.sm-table th {
  padding: 0% !important;
}
