<table class="table">
    <thead>
        <tr>
            <th>Message</th>
            <th>Sent to</th>
            <th>Send time</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>product is ready...</td>
            <td>CBL Pakistan</td>
            <td>1-09-2019</td>
            <td style="color: lime">Sent</td>
        </tr>
        <tr>
            <td>product is deliverd...</td>
            <td>CBL Pakistan</td>
            <td>18-09-2019</td>
            <td style="color: red">Pending</td>
        </tr>
        <tr>
            <td>product is ready...</td>
            <td>CBL Pakistan</td>
            <td>18-09-2019</td>
            <td style="color: lime">Sent</td>
        </tr>
        <tr>
            <td>product is ready...</td>
            <td>CBL Pakistan</td>
            <td>18-09-2019</td>
            <td style="color: lime">Sent</td>
        </tr>
    </tbody>
</table>