<mat-card class="mb-20">
  <mat-card-content>
    <mat-card-title>
      {{ title | uppercase }}
      <i color="warn" [ngClass]="{ 'fa fa-cog fa-spin': loadingData }"></i>
      <small
        style="color: lightseagreen !important"
        class="mtb-5-IMP"
        *ngIf="loadingReportMessage"
        >Your file is being prepared for download</small
      >
    </mat-card-title>
    <section class="example-section">
      <ng-container *ngIf="clusterList?.length > 0">
        <mat-form-field class="example-margin mr-10-IMP">
          <mat-select
            placeholder="{{ labels.clusterLabel }}"
            name="cluster"
            [(ngModel)]="selectedCluster"
            (ngModelChange)="getZoneByCluster()"
          >
            <mat-option [value]="cluster" *ngFor="let cluster of clusterList">{{
              cluster.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <mat-form-field
        *ngIf="zones?.length > 0"
        class="example-margin mr-10-IMP"
      >
        <mat-select
          placeholder="{{ labels.zoneLabel }}"
          name="zone"
          [(ngModel)]="selectedZone"
          (ngModelChange)="zoneChange()"
        >
          <mat-option [value]="zone" *ngFor="let zone of zones">{{
            zone.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        *ngIf="regions.length > 0"
        class="example-margin mr-10-IMP"
      >
        <mat-select
          placeholder="{{ labels.regionLabel }}"
          name="region"
          [(ngModel)]="selectedRegion"
          (ngModelChange)="regionChange()"
        >
          <mat-option [value]="region" *ngFor="let region of regions">{{
            region.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="areas.length > 0" class="example-margin mr-10-IMP">
        <mat-select placeholder="Areas" name="areas" [(ngModel)]="selectedArea">
          <mat-option [value]="area" *ngFor="let area of areas">{{
            area.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="cities.length > 0"
        class="example-margin mr-10-IMP"
      >
        <mat-select placeholder="City" name="city" [(ngModel)]="selectedCity">
          <mat-option [value]="city" *ngFor="let city of cities">{{
            city.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <section class="example-section">
      <mat-form-field
        *ngIf="channels.length > 0"
        class="example-margin mr-10-IMP"
      >
        <!-- {{selectedChannel |json }} -->
        <mat-select
          placeholder="Channel"
          name="channel"
          [(ngModel)]="selectedChannel"
          multiple
          #channelSelect="ngModel"
          [compareWith]="equals"
        >
          <mat-option disabled="disabled" class="filter-option">
            <button
              mat-raised-button
              class="mat-primary fill text-sm"
              (click)="selectAll(channelSelect, channels)"
            >
              Select All
            </button>
            <button
              mat-raised-button
              color="warn"
              class="ml-1 mat-accent fill text-sm"
              (click)="deselectAll(channelSelect)"
            >
              Deselect All
            </button>
          </mat-option>

          <mat-option [value]="channel" *ngFor="let channel of channels">{{
            channel.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="mustHaveAll.length > 0"
        class="example-margin mr-5-IMP"
      >
        <mat-select
          placeholder="MSL"
          name="mustHave"
          [(ngModel)]="selectedMustHaveAll"
        >
          <mat-option [value]="m.key" *ngFor="let m of mustHaveAll">{{
            m.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width mr-10-IMP">
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker0"
          [(ngModel)]="startDate"
          placeholder="Choose a start date"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker0"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker0></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width mr-10-IMP">
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker1"
          [(ngModel)]="endDate"
          placeholder="Choose a end date"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </section>
    <section class="example-section">
      <button
        [disabled]="selectedChannel.length < 1"
        mat-raised-button
        color="warn"
        (click)="getBrandSKUOOS()"
      >
        Download
      </button>
      <span *ngIf="selectedChannel.length < 1" class="channel-message"
        ><small>(channel selection is mandatory)</small></span
      >
    </section>
  </mat-card-content>
</mat-card>
