.selectedGroups {
    width: 100%;
    min-height: 150px;
    border: 1pt solid lightgray;
    margin: 5px;
}

.btn {
    margin: 5px;
}

.textArea {
    width: 100% !important;
    margin: 5px;
}

textarea {
    width: 100%;
}

.mr-5-IMP {
    margin-right: 0.5% !important;
}

.mr-10-IMP {
    margin-right: 1% !important;
}