
.arrow {
  font-size: 15px;
  font-weight: 600;
  color: #F12E2B;
  margin: 0 !important;
  padding: 0 !important;
}


.fa-edit {
  color: #3f51b5;
}

img.small {
  border: 2px lightblue dashed;
  cursor: pointer;
  position: absolute;
    width: 64px;
    height: 50px;
    background-image: url(/assets/images/noImage.jpg);
}



